/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .top {
   width: 100%;
   top: 0;
   left: 0;
   padding-top: 5px;
   text-align: center;
   font-size: x-large;
   background-color: darksalmon;
   border-bottom: 2px solid black;
 }

 .top-bar-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 5px;
   padding-right: 5px;
 }

 .bottom {
   width: 100%;
   position: fixed;
   left: 0;
   bottom: 0;
   padding-left: 10px;
   background-color: darksalmon;
   border-top: 2px solid black;
 }
 
 .event_feed {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 .event_container {
   border: 1px solid black;
   padding: 5px;
   margin: 3px;
 }

 .created_events_feed, .attended_event_feed {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
